*{
    margin: 0px; /*separacion entre elementos "10" */
     padding: 0px; /* espacio util dentro del contenedor*/
     box-sizing: border-box;
    
}  
body{
    background-color:rgb(210, 247, 205);
    font-family: 'Arial', sans-serif;
  
    min-height: 100vh;
     width: 100vw; /*usar estas unidades unicamente en el body */
     display: flex;
    
}
 /* header{
  
 } */
 main{
   
    width: 60%;
    /* background-color: rgb(53, 34, 34); */
 }
 aside{
    /* background-color:  rgb(163, 223, 183); */
    width: 40%;
    height: auto;
    background-color: rgb(172, 154, 236);
    
 }

 .perfil{
    padding: 1em;
    height: 200px;
    width: 100%;
    /* background-color: rgb(87, 138, 121); */
    /* text-align: center; */
    display: grid;
    place-items: center;
    .foto{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        overflow: hidden;
    }
    .info{
        text-align: center;
    }
 }

 .datospersonales{
    padding: 2em;
       
    
    /* background-color: blue; */
   .listaDP{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    Li{
        list-style: none;
    }
   }
 }
.redes{
    padding: 2em;
   
    width: 100% ;
   
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.educacion{
    padding: 2em;
    height: 193px;
    width: 100% ;
   
}
.aptitudes{
    padding: 2em;
    height: 193px;
    width: 100% ;
   
}