
*{
    margin: 0px; /*separacion entre elementos "10" */
     padding: 0px; /* espacio util dentro del contenedor*/
     box-sizing: border-box;
    
}  

 body{
    background-color:whitesmoke;
    font-family: 'Arial', sans-serif;
    margin: 10px;
    
}

.contenedor{
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
.foto{
    position: absolute;
    top: 40px;
    left: 150px;
    width: 110px;
    height: auto;
    border-radius: 200px;
   
 }
 header{
    width: 100%; 
    padding: 40px;
    background-color: rgba(159, 236, 176, 0.493);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
 }
 .contenedor2{
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; /* Espacio entre las secciones */
    justify-content: center;
 }
.titulo{
    justify-content: center;
    padding: 20px 0; /* Ajusta el padding para darle espacio arriba y abajo */
    margin-top: 30px; /* Separación por encima del título */
    margin-bottom: 50px; /* Separación debajo del título */
    align-self: flex-start;
}
  section{
    width: 500px;  /* Ancho del rectángulo */
    height: auto; /* Alto del rectángulo */
    background-color: #7abd7c;
    color: white; 
    border-radius: 10px;
    display: flex;
   flex-direction: column;
    padding: 20px; /* Espacio dentro del rectángulo */
  }
  ul li {
    margin-bottom: 10px; /* Espacio entre los elementos de la lista */
    justify-content: center;
}