/* normalizar navegador */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*para que el padding y el border no se sumen al width*/
    text-decoration: none;
}
body{
    background-color: rgb(176, 154, 197);
    color: white;
    font-family: 'Roboto', sans-serif;
}
main{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    li{
        list-style: none;
    }
}
header{
    width: 60%; 
    border-radius: 30px;
    padding: 40px;
    background-color: rgba(134, 96, 223, 0.274);
    border: 10px solid rgb(138, 65, 138);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
 }